[submodule "llvm/projects/clingo"]
	path = llvm/projects/clingo
	url = https://github.com/potassco/clingo
[submodule "clingo"]
	path = clingo
	url = https://github.com/potassco/clingo.git
[submodule "llvm-test-suite"]
	path = llvm-test-suite
	url = git@github.com:llvm/llvm-test-suite.git
